* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

.section {
    padding: 130px 0;
}

/*End common css */
/* header section start  */
/* scroll on window  text and background color change  */
nav .navbar-brand {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

nav ul li a {
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
}

nav {
    background-color: black;
}

nav.scrolled {
    background-color: white !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#onepage-nav li a.scroll.active {
    /* custom styles here */
    border-bottom: 2px solid black;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.home-section h6 span {
    color: #fec448;
}

.home-section h2 span b {
    color: #fec448;
}

.btn-theme {
    padding: 12px 25px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    transition: ease all 0.35s;
    border-radius: 10px;
    border: none;
    background: #37715d;
    border-color: #37715d;
    color: #fff;
}

.btn-theme i {
    padding-left: 8px;
}

/*End header section start  */
/* Services */
#Services .icon a {
    color: black;
}

#Services .icon a span {
    margin-top: auto;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
}

#Services .icon a i {
    background: black;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.services-left:hover .icon a i {
    background: white !important;
    color: black !important;
    border: 2px solid black !important;
}

#Services .icon a:hover i {
    background: white;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: black;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-left h6 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.services-left p {
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.services-right .counter-container span {
    position: relative;
    font-weight: 900;
    font-size: 25px;
}

.services-right .counter-container h6 {
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 10px;
}

.services-right .counter-container span::after {
    position: absolute;
    content: "+";
}

.services-right .counter-container {
    height: 100%;
    padding: 20px;
    background: rgba(204, 192, 192, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.services-right h6 {
    font-size: 20px;
    padding-bottom: 10px;
}